 /*  The main stylesheet for SMM  */

html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
}

body
{
    background: #fcfcfc;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    min-width: 600px;
}

textarea, input, input:focus { 
    outline: none;
    border: none;
    border-bottom-color: rgba(0,0,0,0) !important;
    border-left-color: rgba(0,0,0,0) !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

.top-bar
{
    position: relative;
    height: 64px;
    width: 100%;
    padding-bottom: 0;
    padding-top: 0;
    margin: 0;
    z-index: 4;
    border-radius: 0;
    transition: 0.2s all;
}

#menu
{
    color: #fff;
    padding: 8px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 2;
}

#menu > i
{
    color: #fff;
}

#nav
{
    top: 0px;
    left: -280px;
    position: absolute;
    height: 100vh;
    width: 280px;
    z-index: 1;
    background: #fff;
    transition: all 0.2s ease-out;
    margin-top: 0;
    padding: 55px 0 30px 0;
}

.nav-panel {
    position: relative;
    width: 280px;
    height: 48px;
}

.nav-panel > a {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    color: #424242;
}

.nav-panel:hover {
    background: #eeeeee;
}

.nav-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 35px 0 35px;
}

.nav-icon.fa {
    left: 2px;
}

.nav-divider {
    position: relative;
    margin: 6px 0 6px 0;
    background: #e0e0e0;
    width: 280px;
    height: 1px;
}

.top-search-wrapper {
    position: absolute;
    max-width: 800px;
    width: 66%;
    height: 100%;
    max-height: 64px;
    top: 0;
    left: 50%;
    transform: translateX(-50%) !important;
    padding: 5px 0 5px 0;
}

.top-search-inner {
    background: #fff;
    height: 100%;
    border-radius: 2px;
    transition: all 0.2s;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) !important;
    left: 0;
    margin: 0 35px 0 35px;
    color: white;
    margin-right: 30px;
    z-index: 1;
    transition: all 0.2s;
}

.search {
    padding: 0 0px 0 70px !important;
    margin:  0 !important;
    top: 50%;
    transform: translateY(-50%) !important;
    position: absolute;
    height: 48px !important;
    font-size: 16px !important;
    color: white;
    transition: all 0.2s;
}

.control-bar {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0px;
    box-shadow: 0 0 8px rgba(0,0,0,.4);
}

.control-middle {
    margin: auto;
    position: relative;
    height: 100%;
    width: 250px;
}

.control-button
{
    position: relative;
    color: #424242;
    padding: 8px;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    z-index: 2;
    top: 37%;
}

#play {
    top:50%;
    width: 58px;
    height: 58px;
    color: #fff;
}

#back > i,
#skip > i,
#repeat > i,
#shuffle > i {
    position: absolute;
    top: 2.5px;
    left: 9px;
    height: 24px;
    width: 24px;
    vertical-align: top;
    text-align: center;
}

#play > i
{
    font-size: 40px;
    vertical-align: middle;
}

.top-bar-div {
    position: relative;
    width: 100%;
    height: 64px;
}

.add {
    bottom: 6.5%;
    right: 40px
}

body {
    -webkit-app-region: no-drag;
    min-height: 100%;
    position: relative;
}

.window {
    -webkit-app-region: no-drag;
    min-height: 100%;
    background-size: cover;
}

.title-bar {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    -webkit-app-region: drag;
    background: #E57373;
}

.title-bar > button {
    position: relative;
    float: right;
    padding: 0;
    border: 0;
    width: 30px;
    height: 100%;
    -webkit-app-region: no-drag;
    transition: 0.15s all ease-out;
    background: #E57373;
}

#close {
    background-repeat: no-repeat;
    background-image: url(../img/close.png);
    background-position: center;
}

#max {
    background-repeat: no-repeat;
    background-image: url(../img/maximize.png);
    background-position: center;
}

#min {
    background-repeat: no-repeat;
    background-image: url(../img/minimize.png);
    background-position: center;
}

.title-bar > button:hover {
    background-color: #F44336;
    cursor: auto;
}

.wait {
    font-size: 12px;
}

.home {
    height: 100%;
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    position: relative;
}

.login {
    display: none;
    width: 434px;
    height: 500px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 105;
    background: transparent;
    border:none;
}

.login-img {
    display:block;
    margin: auto;
}

.login-wrapper {
    background: rgba(255,255,255,1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.login-avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;
}

.login-wrapper input {
    margin-top: 10px;
    margin-bottom: 0px;
}

#email,
#passwd {
    border: solid 1px !important;
    border-top-color: #c0c0c0 !important;
    border-right-color: #d9d9d9 !important;
    border-bottom-color: #d9d9d9 !important;
    border-left-color: #d9d9d9 !important;
    background: #fff;
    margin: 10px 0 0 0;
    padding: 0 8px 0 8px;
    width: 240px;
}

#email:hover,
#email:focus,
#passwd:hover,
#passwd:focus {
    border-top-color: #a0a0a0 !important;
    border-right-color: #b9b9b9 !important;
    border-bottom-color: #b9b9b9 !important;
    border-left-color: #b9b9b9 !important;
}

#sign-in {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top, rgb(77, 144, 254), rgb(71, 135, 237));
    border: 1px solid rgb(48, 121, 237) !important;
    border-radius: 3px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 0px;
    font-size: 13px;
    height: 36px;
    width: 256px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1) !important;
}

#sign-in:hover {
    border: 1px solid rgb(47, 91, 183) !important;
}

#sign-in:active {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3) !important;
}

.sign-in-small {
    width: 64px !important;
    height: 30px !important;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.disable {
    opacity: 0.4;
    background: #fff;
    position: absolute;
    width: 100%;
    content: '';
    height: 100%;
    z-index: -1;
    display: none;
}

.wrongpass {
    display: none;
    color: red;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 12px;
    text-align: left;
    text-indent: 10px;
}

.disable-nav {
    background: rgba(0,0,0,0);
    display: none;
    position: absolute;
    content: '';
    width: calc(100% - 280px);
    height: calc(100% - 30px);
    z-index: -1;
    display: block;
    right: 0;
}

.window {
    position: relative;
    height: calc(100vh - 30px);
}

.main-content {
    position: relative;
    height: calc(100% - 202px);
    margin: 0;
    width: 400vw;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    background-repeat: no-repeat;
    transform: translateX(0);
    transition: transform ease-in-out 0.3s;
}

.main-content > * {
    position: relative;
    display: inline-block;
    width: 100vw;
    overflow-y: auto;
    height: 100%;
}

#content-wrapper {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto 0 auto;
    height: 100%;
    padding: 30px 0 0 0;
}

.now-card {
    margin: 0 24px 12px 0;
    display: inline-block;
    position: relative;
    margin: 0 24px 12px 0;
    transition: 0.35s all;
}

.now-card:hover {
    cursor: pointer;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

.now-card:hover > .play-small {
    opacity: 1;
}

.now-card.two {
    width: calc(100% / 2 - 48px);
    height: 265px;
}

.now-card.three {
    width: calc(100% / 3 - 72px);
    height: 265px;
}

.now-card.four {
    width: calc(100% / 4 - 96px);
    height: 265px;
}

.card-grad {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-size: cover;
    background-position: center;
}

.play-small {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    margin: 24px;
    bottom: 0;
    right: 0;
    z-index: 4;
    opacity: 0;
    transition: 0.35s all;
}

.play-small::after {
    transition: 0.35s all;
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    top: -3px;
    left: -3px;
    border-radius: 50%;
    background: rgba(0,0,0,0);
    content: '';
    z-index: -1;
    border-width: 0px;
    border-style: solid;
    border-color: rgba(0,0,0,0.4);
    transition: all 0.1s;
}

.play-small:hover::after {
    border-width: 3px;
}

.play-small-arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.now-text-wrapper {
    width: 206px;
    padding: 24px 0 24px 24px;
    color: rgba(0,0,0,1);
    position: absolute;
    bottom: 0;
}

.card-grad.light {
    background: rgba(0,0,0,0.5);
}

.card-grad.dark {
    background: rgba(255,255,255,0.5);
}

.now-text-wrapper > p {
    margin: 0;
    display: table;
    vertical-align: bottom;
}

.now-header {
    width: 182px;
    font-weight: 500;
    font-size: 24px;
}

.now-desc {
    font-size: 12px;
}

.now-div {
    margin: 16px 0;
    width: 40px;
    height: 2px;
}

.now-reason {
    font-size: 12px;
    font-style: italic;
}

.now-reason.dark,
.now-desc.dark {
    color: rgba(0,0,0,0.702);
}

.now-header.dark {
    color: #000;
}

.now-reason.light,
.now-desc.light {
    color: rgba(255,255,255,0.702) !important;
}

.now-header.light {
    color: #fff;
}

.albums > paper-card > .hover-play > i {
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
    line-height: 40px;
}

.hover-play {
    position: absolute;
    text-align: center;
    right: 12px;
    bottom: 85px;
    background: #000;
    width: 40px;
    height: 40px;
    opacity: 0;
    border-radius: 50%;
    transition: 0.2s all;
}

.albums > paper-card:hover > .hover-play {
    opacity: 0.64;
}

.hover-play:hover {
    opacity: 0.85 !important;
}

.albums > paper-card {
    cursor: pointer;
    margin: 0 3px 20px 3px;
    --widthA: calc(100% - 60px);
}

@media (max-width: 600px) {
.albums > paper-card{
    margin: 0 3px 20px 3px;
    --widthA: calc(100% - 60px);
    width: calc(var(--widthA) / 2 ) !important;
}
}

@media (min-width: 600px) {
.albums > paper-card{
    margin: 0 3px 20px 3px;
    --widthA: calc(100% - 60px);
    width: calc(var(--widthA) / 3 ) !important;
}
}

@media (min-width: 800px) {
.albums > paper-card{
    margin: 0 3px 20px 3px;
    --widthA: calc(100% - 60px);
    width: calc(var(--widthA) / 4 ) !important;
}
}

@media (min-width: 1200px) {

.albums > paper-card {
    width: calc(var(--widthA) / 6 ) !important;
}

}

.album-name, .album-artist {
    margin: 0;
}

.album-artist {
    color: #5F5F5F;
    font-size: 13px;
}

.top-bar.with-back {
    background: rgba(255,255,255,0) !important;
    box-shadow: none !important;
}

.with-back {
    background: rgba(255,255,255,0.4) !important;
    background-color: rgba(255,255,255,0.4) !important;
}

.album {
    top: 100%;
    margin: 0 auto 40px auto;
    position: relative;
    max-width: 1500px;
    width: 80vw;
}

.album-wrapper {
    position: absolute;
    display: inline-block;
    margin: 0 30px 0 0px;
    padding: 16px 20px 16px 20px;
    height: 264px;
    width: calc(80vw - 294px);
    max-width: 1000px;
}

.album-art {
    width: 264px;
    height: 264px;
    display: inline-block;
}

.album-title {
    font-size: 28px;
    margin: 0;
}

.album-wrapper > .album-artist {
    font-size: 15px;
    color: #212121;
}

.album-stats > * {
    margin: 0 5px 0 0 !important;
    font-size: 13px;
    font-weight: 400;
    color: #616161;
}

.album-splt {
    position: relative;
    width: 100%;
    border-top: solid 1px #e5e5e5;
    margin-top: 5px;
}

.song-wrapper {
    margin-top: 20px;
    padding: 16px 0 !important;
    width: 100%;
    font-size: 14px;
    position: relative;
}

.title-row {
    text-transform: uppercase;
    color: #212121;
    font-size: 16px;
    font-weight: 600;
}

.tbl-num {
    padding: 6px 0px 6px 32px;
    width: 60px;
    text-align: right;
    position: relative;
    display: inline-block;
}

th.tbl-num {
    text-align: right;
}

tr.title-row > th.tbl-name, tr.title-row > tr.tbl-num, tr.title-row > tr.tbl-album, tr.title-row > th.tbl-album, tr.title-row > th.tbl-alb, tr.title-row > th.tbl-art {
    font-size: 12px !important;
}

.tbl-name {
    padding: 16px;
    text-align: left;
    position: relative;
    display: inline-block;
    width: calc(75% - 76px);
}

.tbl-album {
    padding: 16px 0;
    text-align: left;
    position: relative;
    display: inline-block;
    width: calc(50% - 76px);
}

.song-row {
    color: #212121;
    height: 56px;
}

.tbl-rating {
    width: 70px;
    padding-right: 20px;
    text-align: center;
}

.tbl-plays {
    width: 60px;
    padding-right: 16px;
    text-align: center;
}

.tbl-time {
    text-align: right;
    width: 70px;
    padding-right: 16px;
}

.song-row:hover {
    background: #eee !important;
    cursor: pointer;
}

.song-play {
    display: none;
    text-align: center;
    font-size: 22px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
}

.song-number {
    display: block;
}

.song-row:hover > .tbl-num > .song-number {
    color: #eee !important;
    background-image: url('') !important;
}

.song-row:hover > .tbl-num > .song-play {
    display: block;
}

.song-wrapper {
    border-collapse: collapse;
}

.song-row {
    padding: 10px 0;
    border-bottom: 1px #eee solid;
}

.home-wrapper {
    margin: 0;
    background: #E57373;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: relative;
}

.home-tabs {
    background: #E57373;
    width: 500px;
    color: #fff;
}

#selectionBar {
    background-color: #fff !important;
}

.no-shadow {
    box-shadow: none;
}

.home-wrapper {
    transition: 0.2s all;
}

.content-wrapper-artists {
    height: calc(100% - 48px);
    margin: 16px 72px 30px 72px;
}

.artists {
    height: 248px;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

@media (max-width: 801px) {
.artists {
    --widthA: calc(100% - 120px);
    width: calc(var(--widthA) / 2 ) !important;
}
}

@media (min-width: 900px) {
.artists {
    --widthA: calc(100% - 120px);
    width: calc(var(--widthA) / 3 ) !important;
}
}

@media (min-width: 1000px) {
.artists {
    --widthA: calc(100% - 120px);
    width: calc(var(--widthA) / 4 ) !important;
}
}

@media (min-width: 1400px) {
.artists {
    width: calc(var(--widthA) / 6 ) !important;
}

}

.artists-img {
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: #fff;
    width: 75%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.artists-name {
    margin: 0;
    text-align: center;
}

.artists:hover > .artists-img {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.artist-letter {
    font-size: 70px;
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    transform: translateY(50%);
}

.album-wrapper.artist {
    margin-left: 0px;
}

.artist-album > .album-art {
    width: 150px;
    height: 150px;
}

.artist > .album-title {
    text-align: left;
    padding-top: 12px;
}

.album-wrapper.artist {
    height: 150px;
}

.artist-album > .song-wrapper {
    top: 0;
}

.artist-album {
    margin-top: 32px;
}

#al > div.album-title {
    text-align: center;
}

.playlist-letter {
    position: absolute;
    font-size: 132px;
    top: 50%;
    left: 50%;
    transform: translateX(-75%) translateY(-75%);
}
/*
.song-list > td.tbl-num > span {
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
}

.songlist {
    top: 30px;
}

.song-list > .tbl-name {
    width: 50%;
    display: inline-block;
}

.tbl-art {
    width: 50%;
    display: inline-block;
}

.song-list > .tbl-alb {
    width: 50%;
    display: inline-block;
}

th.tbl-alb {
    width: 50%;
    display: inline-block;
}
*/
.loader {
    position: absolute;
    width: 100%;
    height: calc(100% - 202px);
    background: rgba(255,255,255,0.75);
    z-index: 7;
    display: none;
}

.loader > .preloader-wrapper {
    top: 50%;
    left: 50%;
    position: relative;
}

#song-time {
    position: absolute;
    width: calc(100% - 92px);
    top: -15px;
    left: -15px;
    height: 30px;
    margin-left: 90px;
}

.song-cover {
    width: 90px;
    height: 90px;
    position: absolute
}

.song-info-wrapper {
    position: absolute;
    margin-left: 100px;
    transform: translateY(-50%);
    top: 50%;
}

.song-info-wrapper > p {
    margin: 0;
}

.song-name {
    color: #212121;
    font-size: 16px;
    display: block;
    max-width: 22vw;
}

.song-under {
    color: #616161;
    font-size: 13px;
    display: block;
    max-width: 22vw;
}


#song-time > #sliderContainer > #sliderKnob > .slider-knob-inner {
    border-color: #E57373;
    background-color: #E57373;
    transition: 0.2s all linear;
    opacity: 0;
}

.control-bar:hover > #song-time > #sliderContainer > #sliderKnob > .slider-knob-inner {
    opacity: 1;
}

#song-time > #sliderContainer > div > #sliderBar > #progressContainer > #secondaryProgress {
    background-color: rgba(249, 135, 175, 0.5);
}

#song-time > #sliderContainer > div > #sliderBar > #progressContainer > #primaryProgress {
    background-color: #E57373;
}

#song-time > #sliderContainer > #sliderKnob > #ink {
    color: #E57373;
}

#song-time > #sliderContainer > div > #sliderBar > #progressContainer {
    height: 4px;
    background: #dcdcdc;
}

.song-row.song-list > td {
    display: inline-block;
}

.songlist > table > tbody > tr.title-row > th {
    display: inline-block;
}

.songlist {
    top: 30px;
}
.song-list > td.tbl-num > span {
    width: 44px;
    height: 44px;
    background-size: 44px 44px;
}

.songlist > table > tbody > tr > .tbl-name {
    width: calc(25% - 56px);
}

.songlist > table > tbody > tr > .tbl-art {
    width: calc(25% - 56px);
}

.songlist > table > tbody > tr > .tbl-alb {
    width: calc(35% - 56px);
}

@media (max-width: 920px) {

.songlist > table > tbody > tr > .tbl-rating {
    display: none !important;
}

}

.songlist > table > tbody > tr > .tbl-rating {
    transform: translateX(-50%);
    left: 5%;
    position: relative;
}

#search {
    width: calc(100% - 70px);
}

.song-vol-wrapper {
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}

.song-vol-wrapper > * {
    display: inline-block;
    position: relative;
    bottom: 0;
}

.song-vol-wrapper > i {
    height: 32px;
    top: -2px;
}

#song-vol {
    max-width: 180px;
    width: 10vw;
    display: inline-block;
}

#song-vol,
.vol-down {
    opacity: 0;
    transition: 0.15s opacity;
}

/*.control-bar:hover > div >#song-vol,
.control-bar:hover > div > .vol-down {
    opacity: 1;
}*/

.song-vol-wrapper:hover > #song-vol,
.song-vol-wrapper:hover > .vol-down {
    opacity: 1;
}

#song-vol > #sliderContainer > #sliderKnob > .slider-knob-inner {
    border-color: #E57373;
    background-color: #E57373;
    transition: 0.15s all linear;
    opacity: 1;
}

#song-vol:hover > #sliderContainer > #sliderKnob > .slider-knob-inner {
    opacity: 1;
}

#song-vol > #sliderContainer > div > #sliderBar > #progressContainer > #secondaryProgress {
    background-color: rgba(249, 135, 175, 0.5);
}

#song-vol > #sliderContainer > div > #sliderBar > #progressContainer > #primaryProgress {
    background-color: #E57373;
}

#song-vol > #sliderContainer > #sliderKnob > #ink {
    color: #E57373;
}

#song-vol > #sliderContainer > div > #sliderBar > #progressContainer {
    height: 2px;
    background: #dcdcdc;
}

.paper-slider-0 .slider-knob-inner.paper-slider::before {
    background-color: #E57373;
}

.song-list > .tbl-num {
    padding: 6px 16px 6px 16px;
    width: 76px;
}

.songlist > table > tbody > tr.title-row > th.tbl-num {
    width: 76px;
}

.tbl-rating [data-rating="5"] {
    background: no-repeat url(../img/sprites.png) -768px -452px;
}

.mini-dialog-wrapper {
    top: auto;
    left: auto;
    right: 12px;
    margin-right: 0;
    bottom: 105px;
    margin-bottom: 0;
    height: 0;
    width: 0;
    max-height: calc(100vh - 110px - 64px - 24px);
    border-radius: 3px;
    z-index: 20!important;
    transition: opacity 0.3s ease, width 0.3s ease, height 0.3s ease;
    position: fixed;
    background-color: white;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    max-width: 732px;
    transform-origin: right bottom 0px;
    opacity: 0;
}

.mini-dialog-wrapper::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;
    right: 24px;
    border: 8px solid white;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    box-shadow: -12px 12px 15px 0px rgba(0,0,0,.24);
    z-index: -1;
    bottom: -16px;
}

.queue-music-btn {
    position: absolute;
    top: 23%;
    right: 20px;
    width: 44px;
    height: 44px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.mini-dialog-open {
    height: 412.75px;
    width: 620px;
    opacity: 1;
}

.mini-dialog-wrapper > .empty-queue-wrapper,
.mini-dialog-open > #ytplayer {
    opacity: 0;
    transition: ease 0.2s all;
    transition-delay: 0.3s;
}

.mini-dialog-open > .empty-queue-wrapper,
.mini-dialog-open > #ytplayer {
    opacity: 1;
    transition-delay: 0s;
    transition: all ease 0.1s;
}

.queue-music-open > i {
    color: #E57373;
}

.empty-queue-wrapper {
    width: 460px;
    /*min-height: 276.25px;
    height: 90%;*/
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.queue {
    position: relative;
    width: 100%;
    height: 100%;
}

.queue-icon {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.queue-icon > i {
    font-size: 64px;
    color: #bdbdbd;
}

.empty-message {
    width: 100%;
    margin: 10px 0 8px 0;
    color: #616161;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.empty-submessage {
    text-align: center;
    color: #616161;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    
}

.queue-disable {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
    display: none;
}

.song-row-menu {
    position: fixed;
    z-index: 22;
    display: none;
    padding: 12px 0;
}

.song-row-menu > paper-item {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 24px;
    font-weight: 500;
    height: 38px;
    width: 180px;
    cursor: pointer;
    min-height: initial;
    display: flex;
    
}

.song-row-menu > div {
    width: 100%;
    position: relative;
    margin: 3px 0;
    height: 1px;
    background: #eee;
}

.song-row-menu > paper-item:hover {
    background-color: #eee;
}

.add-to-playlist {
    position: fixed;
    right: 0;
    top: 112px;
    height: calc(100% - 202px);
    width: 300px;
    margin: 0;
    background: #fff;
    z-index: 2;
}

.add-play-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.add-to-playlist-head {
    height: 70px;
    border-bottom: solid #ccc 1px;
    position: relative;
}

.add-to-playlist-head > p {
    margin: 0;
    height:100%;
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #888;
    vertical-align: middle;
    line-height: 70px;
    width: auto;
    margin-left: 30px;
}

.song-row.is-dragging {
    z-index: 3;
    background: #eee;
}

#playlist-drop {
    width: 192px;
    padding: 0;
}

#playlist {
    padding: 16px 24px;
}

#playlist-drop-btn {
    width: 192px;
}

.playlist-item > a {
    color: #E57373 !important;
}

.playlist-row-menu {
    position: fixed;
    z-index: 22;
    display: none;
    padding: 12px 0;
}

.playlist-row-menu > paper-item {
    font-size: 14px;
    line-height: 24px;
    padding: 0px 24px;
    font-weight: 500;
    height: 38px;
    width: 220px;
    cursor: pointer;
    min-height: initial;
    display: flex;
    
}

.playlist-row-menu > div {
    width: 100%;
    position: relative;
    margin: 3px 0;
    height: 1px;
    background: #eee;
}

.playlist-row-menu > paper-item:hover {
    background-color: #eee;
}

#removefplaylist {
    padding: 24px 0 0 24px;
    width: 300px;
}

/*
#oauthlogin {
    display: none;
    position: fixed;
    width: 650px;
    height: 550px;
    z-index: 101;
}

.disable-oauth {
    opacity: 0.4;
    background: #fff;
    position: absolute;
    width: 100%;
    content: '';
    height: 100%;
    z-index: -1;
    display: none;
}
*/


#removedia {
    padding: 24px 0 0 24px;
    width: 300px;
}

.queue-music-btn > i {
    font-size: 24px !important;
}

#ytdl-action {
    padding: 12px;
}

#addtlib {
    background-color: #E57373;
    width: 100%;
    margin-top: 15px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.ytplayer-top {
    position:relative;
    height: 64px;
    width: 100%;
    background-color: #E57373;
    
}

#ytsearch {
    position: absolute;
}

.ytsearch-wrapper {
    margin: 6px 44px;
    position: relative;
}

#ytpl-wrapper {
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
}

#ytback {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E57373;
    padding: 0;
    top: 50%;
    left: 22px;
    position: absolute;
    transform: translateY(-50%);
}

#ytdl {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #E57373;
    padding: 0;
    top: 50%;
    right: 36px;
    position: absolute;
    transform: translateY(-50%);
}

.ytlistbox {
    padding: 0;
    overflow: auto;
    max-height: 348.75px;
}

.ytlistbox > paper-item {
    width: 100%;
    height: 66px;
    border-bottom: solid #eee 1px;
    padding: 0;
    font-weight: 400 !important;
    cursor: pointer;
    position: relative;
}

.ytlistbox > paper-item > img {
    height: 100%;
    width: auto;
    margin-right: 16px;
    display: inline-block;
}

.ytlistbox > paper-item > p {
    margin: 0;
    display: inline-block;
    position: absolute;
}

.ytlistbox > paper-item > p.title {
    top: 20%;
}

.ytlistbox > paper-item > p.author {
    top: 50%;
    color: #aaa;
    font-size: 12px;
}

.empty-ytsearch {
    position: relative;
    display: block;
    margin: 0;
    top: 50%;
    color: #aaa;
    transform: translateY(-50%);
    text-align: center;
    font-size: 18px;
}

#ytsearch {
    max-width: 800px;
    width: calc(100% - 70px);
}

#yt-load {
    width: 42px;
    height: 42px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
