Python36/ linguist-vendored
gmusicapi/* linguist-vendored
*.css linguist-vendored
css/main.css linguist-vendored=false
bower_components/* linguist-vendored
bin-lin64/ linguist-vendored
src/youtube_dl/* linguist-vendored
*.js linguist-vendored
*get-pip* linguist-vendored
*.less linguist-vendored
*.scss linguist-vendored
*.cpp linguist-language=C
