Python36/* linguist-vendored
Python36/tcl/* linguist-vendored
gmusicapi/* linguist-vendored
font-awesome.css linguist-vendored=false
font-awesome.min.css linguist-vendored=false
material-icons.css linguist-vendored=false
materialize.css linguist-vendored=false
materialize.min.css linguist-vendored=false
roboto.css linguist-vendored=false

#main.css linguist-vendored=false
