<div class="now-card two" id="{{id}}">
    <div class="card-grad {{color}}" style="background: linear-gradient(to top, rgba({{startcolor}},0.5), rgba({{primary}},0.5))"></div>
    <div class="card-back" style="background-image: url({{wideImageUrl}})"></div>
    <div class="play-small"><i class="material-icons play-small-arrow">play_arrow</i></div>
    <div class="now-text-wrapper">
        <p class="now-header {{color}}">{{title}}</p>
        <p class="now-reason {{color}}"></p>
        <div class="now-div" style="background: rgb({{second}})"></div>
        <p class="now-desc {{color}}">{{description}}</p>
    </div>
</div>
